
/* Titre d'entrée*/

@keyframes bounce{
  0%{
    transform: rotate(-45deg);
  }
  10%{
    transform: rotate(-35deg);
  }
  70%{
    transform: rotate(20deg);
  }
  80%{
    transform: rotate(-10deg);
  }
  90%{
    transform: rotate(5deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

@keyframes bounce-1{
  0%{
    transform: rotate(45deg);
  }
  10%{
    transform: rotate(35deg);
  }
  70%{
    transform: rotate(-20deg);
  }
  80%{
    transform: rotate(10deg);
  }
  90%{
    transform: rotate(-5deg);
  }
  100%{
    transform: rotate(0deg);
  }
}

/* Animation bouton ouvert*/

@mixin scaleNumber {
  @keyframes scaleNumber {

  to   {
    transform: scale(1) translate(-50%, -50%);
    animation-timing-function: cubic-bezier(0.42, 0, 0.58, 1.0);
    opacity: 0.5;
    box-shadow: 0 2px 4px 6px #e0e0e0;
    transition-property: boxShadow;
  }
  }
}



/* Animations portfolio*/
@mixin fadeTitle{
  margin: 5rem 1rem 3rem 0;
  color: var(--dark);
  opacity: 0;
  font-size: 1.8rem;
}

.fadeIn-one{
  @include fadeTitle;
  &.toggleHover{
    animation: fadeIn-one 2s linear 1 forwards;
    animation-delay: 0.5s;
    & ~ .list-overview{
      animation: all 2s ease-in-out 3s forwards;
    }
  }

    @keyframes fadeIn-one{
      to{
      opacity: 1;
    }
    }
}


@keyframes unfold-2{
  to{
    left: 9%;
    max-width: 100px;
    opacity:1;
  }

}

@keyframes unfold-3{
  to{
    left: 18%;
    max-width: 100px;
    opacity: 1;
  }
}

@keyframes unfold-4{
  to{
    left: 27%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-5{
  to{
    left: 36%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-6{
  to{
    left: 45%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-7{
  to{
    left: 54%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-8{
  to{
    left: 63%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-9{
  to{
    left: 72%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-10{
  to{
    left: 81%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-11{
  to{
    left: 90%;
    max-width: 100px;
    opacity: 1;
  }
}


.fadeIn-two{
  @include fadeTitle;
  &.toggleHover{
    animation: fadeIn-two 2s linear 1 forwards;
    animation-delay: 0.5s;
    & ~ .list-overview-two{
      animation: all 2s ease-in-out 3s forwards;
    }
  }

    @keyframes fadeIn-two{
      to{
      opacity: 1;
    }
    }
}


@keyframes unfold-13{
  to{
    left: 9%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-14{
  to{
    left: 18%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-15{
  to{
    left: 27%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-16{
  to{
    left: 36%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-17{
  to{
    left: 45%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-18{
  to{
    left: 54%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-19{
  to{
    left: 63%;
    max-width: 100px;
    opacity: 1;
  }
}


.fadeIn-three{
  @include fadeTitle;
  &.toggleHover{
    animation: fadeIn-three 2s linear 1 forwards;
    animation-delay: 0.5s;
    & ~ .list-overview-three{
      animation: all 2s ease-in-out 3s forwards;
    }
  }

    @keyframes fadeIn-three{
      to{
      opacity: 1;
    }
    }
}


@keyframes unfold-21{
  to{
    left: 9%;
    max-width: 100px;
    opacity:1;
  }
}

@keyframes unfold-22{
  to{
    left: 18%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-23{
  to{
    left: 27%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-24{
  to{
    left: 36%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-25{
  to{
    left: 45%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-26{
  to{
    left: 54%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-27{
  to{
    left: 63%;
    max-width: 100px;
    opacity: 1;
  }
}
@keyframes unfold-28{
  to{
    left: 70%;
    max-width: 100px;
    opacity: 1;
  }
}



/* Animation texte défilant */
@mixin textSlider{
  margin: 12rem 0 0 0;
  display: flex;
  max-width: 100%;
  opacity: 0;
  z-index: -1;
  font-size: 1.7rem;
  font-family: 'Pangolin';
  background: var(--backrgoundTextSlider);
  padding: 0.3rem 0;



  &.toggleHover{
   animation: slider 0.5s ease-in-out forwards;
   animation-delay: 3s;
   transition: slider 0.5s;
   }
}

.wrapper{
@include textSlider;
@keyframes slider {
  0%   { transform: translate(10%); opacity:1; }
  100% { transform: translate(0%); opacity:1; }
}
}

.wrapper-two{
  background: blue;
  @include textSlider;
  @keyframes slider{
     0%   { transform: translateX(100%); opacity:1;}
    100% {transform: translateX(0%); opacity:1;}
  }
}


.wrapper-three{
  @include textSlider;
  @keyframes slider{
     0%   { transform: translateX(100%); opacity:1;}
    100% {transform: translateX(0%); opacity:1;}
  }
}
