// Bandeau et bouton cookies

@mixin buttonCookie{

    font-size: 1.5rem;
    font-weight: 300 !important;
    background: #fff;
    color: var(--cookie);
    border: none;
    font-weight: bold;
    padding: .5rem 2rem;
    margin: 0 0 0 2rem;
    border-radius: 35px;
    cursor: pointer;

      &:hover {
        opacity: 0.5;
          }
      &:focus {
        outline-style: none;
  }

};

@mixin cookieBar{
  grid-area: copyright;
  width: 100%;
  display: flex;
  flex-flow: column;
  background: var(--cookie);
  color: #fff;
  padding: 3rem;
  font-size: 1.5rem;
  position: fixed;
  bottom: 0;
  p{
    margin: 0;
  }
  a{
    color: #fff;
     text-decoration: underline;
  }
}

// Bandeau cookie : media queries
.cookiebar{
@include xl{
  display: flex;
  flex-flow: column;
}
@include md{
  display: flex;
  flex-flow: column;
}
@include sm{
  display: flex;
  flex-flow: column;
}
@include xs{
  display: flex;
  flex-flow: column;
}
}
.queries-cookie{
  margin-top: 1rem;
  @include xl{
    display: flex;
  }
  @include md{
    display: flex;
  }
  @include sm{
    display: flex;
    flex-flow: row wrap;
  }
  @include xs{
    display: flex;
    flex-flow: row wrap;
  }

}

.is-hidden{
  @include xl{
    display: none;
  }
  @include md{
    display: none;
  }
  @include sm{
    display: none;
  }
  @include xs{
    display: none;
  }

}

// Bandeau cookie : visible/hidden

.cookiebar {
@include cookieBar;

.button-cookie-ok{
  @include buttonCookie;
}

.button-cookie-no{
  @include buttonCookie;
}
}

.is-hidden{
  display: none;
}

// Page COOKIES

.grid-container-page{
  display: grid;
  grid:
    "header header" auto
    "aside main" 1fr
    "copyright copyright" auto;
    max-height: 100vh;
    @include xs{
      grid:
        "header" auto
        "main" auto
        "aside aside"
        "copyright" auto ;
    }
    @include sm{
      grid:
      "header" auto
      "main" auto
      "aside aside"
      "copyright" auto ;
    }

    aside{
      @include xs{
        padding: 0;
      }
      @include sm{
        padding: 0;
      }
    }

  }

// Header cookies
  .header-two{
    background: linear-gradient(to right, var(--primary-blue), var(--light-blue));
  }

// Header mentions légales
.header-three{
  background: linear-gradient(to right, var(--light), var(--primary));
}

  .button-back{
    @include buttonCookie;
    color: var(--primary) !important;
    border: 3px solid !important;
    font-size: 2rem !important;
    margin: 0 !important;
    //color: #fff !important;
  }
