// Bandeau et bouton cookies

@mixin buttonCookie{

    font-size: 1.5rem;
    font-weight: 300 !important;
    background: #fff;
    color: var(--cookie);
    border: none;
    font-weight: bold;
    padding: .5rem 2rem;
    margin: 0 0 0 2rem;
    border-radius: 35px;
    cursor: pointer;

      &:hover {
        opacity: 0.7;
          }
      &:focus {
        outline-style: none;
  }

};

@mixin cookieBar{
  grid-area: copyright;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  background: var(--cookie);
  color: #fff;
  padding: 3rem;
  font-size: 1.5rem;
  position: fixed;
  bottom: 0;
  p{
    margin: 0;
  }
  a{
    color: #fff;
     text-decoration: underline;
  }
}

// Bandeau cookie : media queries
.cookiebar{
@include xl{
  display: flex;
  flex-flow: column;
}
@include md{
  display: flex;
  flex-flow: column;
}
@include sm{
  display: flex;
  flex-flow: column;
}
@include xs{
  display: flex;
  flex-flow: column;
}
}
.queries-cookie{
  @include xl{
    display: flex;
    margin-top: 1rem;
  }
  @include md{
    display: flex;
    margin-top: 1rem;
  }
  @include sm{
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;
  }
  @include xs{
    display: flex;
    flex-flow: row wrap;
    margin-top: 1rem;
  }

}

.is-hidden{
  @include xl{
    display: none;
  }
  @include md{
    display: none;
  }
  @include sm{
    display: none;
  }
  @include xs{
    display: none;
  }

}

// Page COOKIES

.grid-container-page{
  display: grid;
  grid:
    "header header" auto
    "aside main" 1fr;
    max-height: 100vh;
    @include xs{
      grid:
        "header" auto
        "main" auto
        "aside" auto
        / auto;
    }
    @include sm{
      grid:
      "header" auto
      "main" auto
      "aside" auto
      / auto;
    }
  }

  .header-two{
    background: linear-gradient(to right, var(--primary-blue), var(--light-blue));
  }
