/* Les media queries sont placées ici dans des mixins */

/* phones and down */
@mixin xs{
  @media only screen and (max-width: 480px) {
    @content;
    background: pink;
  }
}

/* phone to portrait tablet */
@mixin sm{
  @media only screen and (min-width: 481px) and (max-width: 767px) {
    @content;
    background: orange;
  }
}

/* Portrait tablet to landscape and desktop */
@mixin md{
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    @content;
    background: green;
  }
}

/* Laptop */
@mixin xl{
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    @content;
    background: teal;
  }
}

/* Laptop and desktop */
@mixin lg{
  @media only screen and (min-width: 1200px)
   {
    @content;
    background: grey;
  }
}
