// Bouton & texte OVERFLOW

@mixin overflowVisible{
  display: flex;
  flex-flow: row wrap;
    padding: 0 0 4rem 0;
}

@mixin btnOverflow{
  font-size: 1.5rem;
  background: var(--border);
  border: none;
  font-weight: bold;
  padding: .5rem 2rem;
  border-radius: 35px;
  cursor: pointer;

    &:hover {
      background: var(--hint);
      color: #fff;
        }
    &:focus {
      outline-style: none;
}
}

@mixin textOverflow{
  display: none;
  //height: 30rem;
  background: var(--overflow);
  padding: 1.5rem 1.5rem 1.5rem 4rem;
  margin: 2.5rem 0 2.5rem 0;
  border-radius: 10px;
  flex-flow: row wrap;
  align-items: center;
}


.overflow-visible{
  @include overflowVisible;
  .btn-overflow {
    @include btnOverflow;
    }


    .text-overflow{
        @include textOverflow;
    }

}


.overflowTwo-visible{
  @include overflowVisible;
  .btn-overflow-two {
    @include btnOverflow;
    }


    .text-overflow-two{
        @include textOverflow;
        p{
          margin-left: -2rem !important;
          font-weight: bold;
        }
    }

}
