/* Pour des classes utilitaires */

.mb-5{ // m pour margin, b pour bottom, 5 pour la valeur de la marge
  margin-bottom: 5rem !important;
}

.mb-3{
  margin-bottom: 3rem !important;
}

.mb-2{
  margin-bottom: 2rem !important;
}

.align-flex{
  display: flex !important;
  flex-flow: nowrap !important;
}

/*.imag-2{
  filter: opacity: 0.9 !important;
}
.imag-3{
  opacity: 0.8 !important;
}
.imag-4{
  opacity: 0.7 !important;
}
.imag-5{
  opacity: 0.6 !important;
}
.imag-6{
  opacity: 0.5 !important;
}
.imag-7{
  opacity: 0.4 !important;
}
.imag-8{
  opacity: 0.3 !important;
}
.imag-9{
  opacity: 0.2 !important;
}
.imag-10{
  opacity: 0.1 !important;
}*/
