/* Codes font et colors*/
:root{
--font-family: "Muli", sans-serif;

//colors
--light: #fab1a0;
--primary: #e84118;
--middle: #ee5253;
--dark: #ff3f34;
--text: #333;
--background: #fafafa;
--hint: #999;
--border: #ddd;
--overflow: #f5f6fa;
//--fadein: #e17055;

// Fonts annexes :
--font-number: "roboto";
}
